In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Srandakan,ID,2021-11-28 03:25:58,-7.9386,110.2506,78.28,84,100,6.06
1,1,Bluff,NZ,2021-11-28 03:25:58,-46.6000,168.3333,55.65,52,4,6.49
2,2,Punta Arenas,CL,2021-11-28 03:22:25,-53.1500,-70.9167,53.71,47,90,16.11
3,3,Yar-Sale,RU,2021-11-28 03:25:59,66.8333,70.8333,-6.32,97,78,9.98
4,4,Bambous Virieux,MU,2021-11-28 03:25:43,-20.3428,57.7575,75.45,83,20,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Srandakan,ID,2021-11-28 03:25:58,-7.9386,110.2506,78.28,84,100,6.06
4,4,Bambous Virieux,MU,2021-11-28 03:25:43,-20.3428,57.7575,75.45,83,20,4.61
12,12,Kudahuvadhoo,MV,2021-11-28 03:26:02,2.6708,72.8944,81.54,71,100,16.60
13,13,Carnarvon,AU,2021-11-28 03:24:22,-24.8667,113.6333,89.67,45,0,12.66
19,19,Georgetown,MY,2021-11-28 03:26:05,5.4112,100.3354,85.93,79,20,1.14
20,20,Kapaa,US,2021-11-28 03:26:05,22.0752,-159.3190,78.78,65,1,14.97
21,21,Lorengau,PG,2021-11-28 03:24:29,-2.0226,147.2712,86.18,65,100,6.40
22,22,Saint-Philippe,RE,2021-11-28 03:26:06,-21.3585,55.7679,80.19,80,90,4.68
23,23,Rikitea,PF,2021-11-28 03:23:03,-23.1203,-134.9692,76.44,76,57,16.24
24,24,Butaritari,KI,2021-11-28 03:26:07,3.0707,172.7902,82.36,72,56,18.10

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
preferred_cities_df.notnull().sum()

City_ID       125
City          125
Country       125
Date          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
dtype: int64

In [26]:
preferred_cities_df.count()

City_ID       125
City          125
Country       125
Date          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Srandakan      ID     78.28  -7.9386  110.2506
4   Bambous Virieux      MU     75.45 -20.3428   57.7575
12     Kudahuvadhoo      MV     81.54   2.6708   72.8944
13        Carnarvon      AU     89.67 -24.8667  113.6333
19       Georgetown      MY     85.93   5.4112  100.3354
20            Kapaa      US     78.78  22.0752 -159.3190
21         Lorengau      PG     86.18  -2.0226  147.2712
22   Saint-Philippe      RE     80.19 -21.3585   55.7679
23          Rikitea      PF     76.44 -23.1203 -134.9692
24       Butaritari      KI     82.36   3.0707  172.7902

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Srandakan,ID,78.28,-7.9386,110.2506,Puri Brata
4,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
12,Kudahuvadhoo,MV,81.54,2.6708,72.8944,Niyama Private Islands Maldives
13,Carnarvon,AU,89.67,-24.8667,113.6333,Hospitality Carnarvon
19,Georgetown,MY,85.93,5.4112,100.3354,Cititel Penang

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))